# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.26'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: |
        go test -v -coverprofile=coverage.txt -covermode=atomic ./...

    - name: Verify coverage file exists
      run: cat ./coverage.txt

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.txt

    - name: Coveralls
      uses: coverallsapp/github-action@v2
      with:
        files: ./coverage.txt
